.container {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 315px;
    border-radius: 10px;
}

.summary,
.steps {
    margin-left: 250px;
    word-wrap: break-word;
}

.steps {
    margin: auto;
}

.step {
    width: 800px;
    margin: 10px 0;
}

.summary {
    width: 60%;
    margin: 10px 0;
    line-height: 24px;
    text-align: center;
}

.back {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #ff0000;
    box-shadow: 0 2px 5px #000000;
    transition: all ease-in 120ms;
}

.back:hover {
    background-color: #df0808;
}

.btn_delete {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #df0808;
    border: none;
    cursor: pointer;
}

.btn_delete:hover {
    padding: 7px;
}