.container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    width: 80%;
    text-align: center;
}

.image {
    width: 315px;
    border-radius: 10px;
}

.summary,
.steps {
    word-wrap: break-word;
}

.steps {
    width: 60%;
}

.step {
    width: 100%;
    margin: 10px 0;
}

.summary {
    width: 60%;
    margin: 10px 0;
    line-height: 24px;
    text-align: center;
}

.btn_update,
.btn_delete {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #df0808;
    border: none;
    cursor: pointer;
}

.btn_delete:hover {
    padding: 7px;
}

.btn_update {
    right: 70px;
    text-decoration: none;
    color: #fff;
    background-color: #fbb304;
}

.btn_update:hover {
    padding: 7px;
}
