.container_pagination {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin-bottom: 30px;
}

.not_recipes {
    margin-left: 450px;
}